.button {
  background-color: $gulf-stream;
  border: none;
  color: $white;
  padding: 8px 15px;
  margin: 0 5px;
  transition: all ease-in-out 0.2s;
  &:hover {
    background-color: rgba($cello, 0.8);
  }
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  &--active {
    background-color: $cello;
  }
}
