.info-widget {
  &__row {
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
  }
  &__value {
    font-style: italic;
    font-size: 14px;
    font-weight: 700;
    color: $silver-chalice;
  }
}
