.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__error {
    color: $gulf-stream;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
  }
  &__ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  &__ring span {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid $gulf-stream;
    border-radius: 50%;
    animation: rotating-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $gulf-stream transparent transparent transparent;
  }
  &__ring span:nth-child(1) {
    animation-delay: -0.45s;
  }
  &__ring span:nth-child(2) {
    animation-delay: -0.3s;
  }
  &__ring span:nth-child(3) {
    animation-delay: -0.15s;
  }
}
