.table {
  width: 100%;
  &__header,
  &__data {
    text-align: center;
    padding: 5px 10px;
  }
  &__header {
    padding-bottom: 15px;
  }
  &__data {
    &--inactive {
      font-style: italic;
      font-size: 14px;
      font-weight: 700;
      color: $silver-chalice;
    }
  }
  &__row {
    @include user-select;
    transition: all ease-in-out 0.2s;
    background-color: $white;
    color: $black;
    &--active {
      background-color: $gulf-stream;
      color: $white;
    }
  }
}
