// Media queries
@mixin mobile {
  @media (max-width: 450px) {
    @content;
  }
}
@mixin phablet {
  @media (max-width: 650px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin grid {
  @for $i from 1 through 10 {
    &--#{$i * 10} {
      width: #{$i * 10%};
    }
  }
}

// User select
@mixin user-select {
  cursor: pointer;
  user-select: none;
}
