html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.02em
}
body {
  padding: 40px;
}
h1 {
}
h2 {
}
h3 {
  font-size: 14px;
  font-weight: 600;
}
